In [66]:
import pandas as pd

df = pd.DataFrame({'DATE': [],
                   'TIMESTAMP' : [],
                   'PRICE': []})
df

Empty DataFrame
Columns: [DATE, PRICE, TIMESTAMP]
Index: []

In [67]:
df['DATE'] = [1,2,3,4,5]
df['TIMESTAMP'] = [10000,10001,10002,10003,10004]
df['PRICE'] = [1,2,3,5,7]

df

   DATE  PRICE  TIMESTAMP
0     1      1      10000
1     2      2      10001
2     3      3      10002
3     4      5      10003
4     5      7      10004

In [82]:
def test(df, step):
    df.loc[(df.TIMESTAMP - df.iloc[-1].TIMESTAMP)%step == 0]

In [81]:
df.iloc[-1].TIMESTAMP

10004

In [38]:
df

   Buy/Sell  Date  Id  Price  Qty  Amount  Pnl
0         1     1   1      1    1      -1  0.0
1        -1     2   1      2    1       2  1.0
2         1     3   2      3    1      -3  0.0
3        -1     4   2      5    1       5  2.0